

@media screen and (max-width :720px){

    /*
        estilos para la seccion de novedades
    */
    .featured-title-container {
        display: flex;
        justify-content: center ;  
        margin-top: 5rem;
        
    }

    .featured-title-item {
        background-color: #04BF68;
        padding: 1.2rem 3rem;
        font-size: 1.3rem;
        color: white;
        border-radius: 15px;
    }


    .featured-grid-container {
        display: grid;
        margin: 2.5rem;
        grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
        grid-auto-rows: auto;
        grid-auto-rows: 400px;
        justify-content: center;
        gap: 25px;
    }

    .featured-grid-item {
    
    }

    .featured-grid-container img {
        max-width: 100%;
        max-height: 70%;
        display: block;
        object-fit: cover;
    }


    .featured-grid-container .featured-grid-item  {
        display: flex;
        flex-direction: column;
    }

    .featured-grid-item h2 {
        margin-top: 15px;
    }


    .series-grid-container {
        display: grid;
        margin: 2.5rem;
        grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
        grid-auto-rows: auto;
        grid-auto-rows: 400px;
        justify-content: center;
        gap: 25px;
    }

    .series-grid-container img {
        max-width: 100%;
        max-height: 70%;
        display: block;
        object-fit: cover;
    }

    .series-grid-container .series-grid-item  {
        display: flex;
        flex-direction: column;
    }

    .series-grid-item h2 {
        margin-top: 15px;
        
    }


    .item-description {
        color: white;
    }


    .series-title-container {
        display: flex;
        justify-content: center ;  
        
    }

    .series-title-item {
        background-color: #04BF68;
        padding: 1.2rem 3rem;
        font-size: 1.3rem;
        color: white;
        border-radius: 15px;
    }

    
}
