

@media screen and (max-width :720px){

    /*
        estilos para la seccion de novedades
    */
    .featured-title-container {
        display: flex;
        justify-content: center ;  
        margin-top: 8rem;
        
    }

    .featured-title-item {
        background-color: #04BF68;
        padding: 1.2rem 3rem;
        font-size: 1.3rem;
        color: white;
        border-radius: 15px;
    }


    .featured-grid-container {
        display: grid;
        margin: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        grid-auto-rows: auto;
        grid-auto-rows: 400px;
        justify-content: center;
        gap: 13px 15px;
    }



    .featured-grid-container img {
        max-width: 100%;
        max-height: 70%;
        min-height: 70%;
        display: block;
        object-fit: cover;
    }


    .featured-grid-container .featured-grid-item  {
        display: flex;
        flex-direction: column;
    }

    .featured-grid-item h2 {
        margin-top: 15px;
    }

    .featured-item-description {
        display:flex;
        justify-content: space-between;
    }

    .item-description-text {
        color:white
    }


    /* boton de like */


    .item-description-check-favourite {
        position: relative;
    }

    .item-description-check-favourite input {
        display: none;
    }

    .item-description-check-favourite .icon-checked  {
        position: absolute;
    }

    .icon-checked {
        margin-left: -15px;
        display: none;
    }

    #icon-check-favorite:checked~.icon-checked , #icon-check-favorite-2:checked~.icon-checked , #icon-check-favorite-3:checked~.icon-checked , #icon-check-favorite-4:checked~.icon-checked {
        display:inline-block;
    }

    /*SECCION DE SERIES*/

    .series-grid-container {
        display: grid;
        margin: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        grid-auto-rows: 280px;
        justify-content: center;
        gap: 13px 10px;
    }

    
    .series-grid-container img {
        max-width: 100%;
        min-height: 75%;
        max-height: 75%;
        display: block;
        object-fit: cover;
    }

    .series-grid-container .series-grid-item  {
        display: flex;
        flex-direction: column;
    }

    .series-grid-item h2 {
        margin-top: 15px;
        
    }


    .series-item-description {
        color: white;
    }


    .series-title-container {
        display: flex;
        justify-content: center ;  
        
    }

    .series-item-description {
        display: flex;
        justify-content: space-between;
    }

    .item-description-check-favourite {
        padding: 1.7rem 0rem;
    }

    .item-description-check-favourite button {
        background-color: #04BF68;
        color: #04BF68;
        border: none;
        outline: none;
        justify-self: center;
        align-self: center;
        
    }

    .series-title-item {
        background-color: #04BF68;
        padding: 1.2rem 3rem;
        font-size: 1.3rem;
        color: white;
        border-radius: 15px;
    }

    .fa-heart {
        color: #04BF68;
    }

   

    /*
    seccion de footer
    */

    .footer {
        background-color: black;
        padding: 2rem;
    }

    .footer-container {
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
        margin: 1rem 3rem;
    }

    .footer-container a {
        text-decoration: none;
        color: white;
    }

   

    

}
