/*
        estilos para la seccion de novedades
    */
    .featured-title-container {
        display: flex;
        justify-content: center ;  
        margin-top: 8rem;
        
    }

    .featured-title-item {
        background-color: #04BF68;
        padding: 1.2rem 3rem;
        font-size: 1.3rem;
        color: white;
        border-radius: 15px;
    }


    .featured-grid-container {
        display: grid;
        margin: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        grid-auto-rows: auto;
        grid-auto-rows: 175px;
        justify-content: center;
        gap: 13px 15px;
    }



    .featured-grid-container .featured-grid-item-img {
        max-width: 100%;
        min-height: 70%;
        max-height: 100%;
        display: block;
        object-fit:cover
        
    }
    
    .featured-grid-container .featured-grid-item-img img{
        width: 100%;
        height: 100%;
        object-fit:cover;
        object-position: 100% 20%;
    }


    .featured-grid-container .featured-grid-item  {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .featured-item-description {
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
    }

    .item-description-text a {
        text-decoration: none;
        color: white;
    }

    .featured-grid-item h2 {
        margin-top: 15px;
    }

    .item-description-text{
        display: none;
    }

    
    
    .featured-grid-item:hover .featured-item-description{
        display:flex;
        justify-content: space-between;
        background-color: rgb(38,8,22,0.8);
    }


    .featured-grid-item:hover .item-description-text {
        display: block;
        color: white;
        margin-top: 3rem;
        margin-left: 1.5rem;
        font-size: 1.2rem;
    }

    

    /*-----boton de like novedades ----*/

    .item-description-check-favourite {
        display: none;
    }

    .featured-grid-item:hover .item-description-check-favourite {
        position: relative;
        display:block;
        margin-top: 2rem;
        margin-right: 1rem;
    }

    .item-description-check-favourite input {
        display: none;
    }

    
    .featured-grid-item .item-description-check-favourite .icon-checked {
        margin-left: -15px;
        position: absolute;
        display: none;
    }

    #icon-check-favorite:checked~.icon-checked , #icon-check-favorite-2:checked~.icon-checked , #icon-check-favorite-3:checked~.icon-checked , #icon-check-favorite-4:checked~.icon-checked {
        display:inline-block;
    }

@media screen and (max-width :720px){ 

         /*
        estilos para la seccion de novedades
    */

    .featured-grid-container .featured-grid-item .featured-item-description  {
        display: flex;
        justify-content: space-between;
        background-color: #232426;
        position: relative;
        margin-top: 0.2rem;
        flex: 1;
    }


    .featured-title-container {
        display: flex;
        justify-content: center ;  
        margin-top: 8rem;
        
    }


    .featured-grid-container .featured-grid-item .item-description-text{
        margin-top: 0.2rem;
        margin-left: 1rem;
        display: block;
        color:white ;
        font-size: 1.3rem;
        flex: 1;
    }


    .featured-title-item {
        background-color: #04BF68;
        padding: 1.2rem 3rem;
        font-size: 1.3rem;
        color: white;
        border-radius: 15px;
        
    }


    .featured-grid-container {
        display: grid;
        margin: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        grid-auto-rows: 33rem;
        justify-content: center;
        gap: 6rem 15px;
    }



    .featured-grid-container .featured-grid-item-img {
        max-width: 100%;
        min-height: 70%;
        max-height: 100%;
        display: block;
        object-fit:cover
        
    }
    
    .featured-grid-container .featured-grid-item-img img{
        width: 100%;
        height: 100%;
        object-fit:cover;
        object-position: 100% 20%;
    }
    

    .featured-grid-container .featured-grid-item  {
        display: flex;
        flex-direction: column;
        
    }

     

    .featured-grid-item h2 {
        margin-top: 15px;
    }

    
    
     .featured-item-description {
        position: relative;
        display:flex;
        justify-content: space-between;
        flex: 1;
        
    }


    /* boton de like novedades */


    .featured-item-description .item-description-check-favourite {
        position: relative;
        margin-top: 2rem ;
        margin-right: 1rem;
        display: block;
    }

    .item-description-check-favourite input {
        display: none;
    }

    .item-description-check-favourite .icon-checked  {
        position: relative;
    }

    .featured-item-description .item-description-check-favourite .icon-checked {
        margin-left: -15px;
        display: none;
    }

    #icon-check-favorite:checked~.icon-checked , #icon-check-favorite-2:checked~.icon-checked , #icon-check-favorite-3:checked~.icon-checked , #icon-check-favorite-4:checked~.icon-checked {
        display:inline-block;
    }

    }